# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual env
venv/
envs/

# Logs
logs/
*.log

# DB
*.db
*.sqlite3

# Secrets
.env
.env.*

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
