# Ignore compiled Python files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env
*.venv

# Django settings for local environment
.env
*.env

# Database files (SQLite)
*.sqlite3
*.db

# Django Migrations (opti