
{% extends 'ecomm_app/shop/base.html' %}

{% block content %}
    <h2>All Products</h2>
    <br>
    <table border="1" cellspacing="0" cellpadding="10">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price (₹)</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                {% if product.pk %}
                    <a href="{% url 'product_detail' product.pk %}">{{ product.product_name }}</a>
                {% else %}
                    {{ product.product_name }}  <!-- Show without link -->
                {% endif %}
                    
                </td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    {% comment %} <button type="button" onclick="window.location.href='{% url 'product_detail' product.pk %}'">View Product</button><br>     {% endcomment %}
    <button type="button" onclick="window.location.href='{% url 'add_product' %}'">Add New Product</button><br>
    <br>
    <button type="button" onclick="window.location.href='{% url 'add_category' %}'">Manage Categories</button>
{% endblock %}

